
<!-- TWITTER FOLLOW BUTTON -->
<a href="https://twitter.com/peterhost" class="twitter-follow-button" data-show-count="false">Follow @peterhost</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<!-- LINKEDIN PROFILE -->
<a href="http://fr.linkedin.com/pub/pierre-lhoste/6/bab/702">
  <img src="http://www.linkedin.com/img/webpromo/btn_liprofile_blue_80x15.png" width="80" height="15" border="0" alt="View pierre lhoste's profile on LinkedIn"/>
</a>
